In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [9]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1372,tt0404032,19000000,144216468,The Exorcism of Emily Rose,Laura Linney|Tom Wilkinson|Campbell Scott|Jenn...,Scott Derrickson,What happened to Emily?,When a younger girl called Emily Rose (Carpent...,122,Crime|Drama|Horror|Thriller,Lakeshore Entertainment|Firm Films|Screen Gems,9/9/2005,6.2,2005
731,tt1570728,50000000,142851197,"Crazy, Stupid, Love.",Steve Carell|Julianne Moore|Ryan Gosling|Emma ...,Glenn Ficarra|John Requa,This Is Stupid,Cal Weaver is living the American dream. He ha...,118,Comedy|Drama|Romance,Warner Bros.,7/29/2011,6.9,2011
1092,tt0319061,70000000,122919055,Big Fish,Ewan McGregor|Albert Finney|Billy Crudup|Jessi...,Tim Burton,An adventure as big as life itself.,Throughout his life Edward Bloom has always be...,125,Adventure|Fantasy|Drama,The Zanuck Company|Columbia Pictures Corporati...,12/25/2003,7.4,2003
562,tt0227445,68000000,71069884,The Score,Robert De Niro|Edward Norton|Marlon Brando|Ang...,Frank Oz,There are no partners in crime,An aging thief hopes to retire and live off hi...,124,Action|Crime|Thriller,Paramount Pictures|Mandalay Pictures|Horseshoe...,7/13/2001,6.6,2001
1160,tt0289992,50000000,38955598,The Life of David Gale,Kevin Spacey|Kate Winslet|Laura Linney|Gabriel...,Alan Parker,The crime is clear. The truth is not.,A man against capital punishment is accused of...,130,Drama|Thriller|Crime,Universal Pictures|Intermedia Films|Saturn Films,2/21/2003,7.2,2003

In [0]:
data.describe()

# Предобработка

In [10]:
answers = {} # создадим словарь для ответов

# преобразуем столбец 'release_date' в формат datetime
data['release_date'] = pd.to_datetime(data['release_date'])

# доюавляем столбец 'profit'
data['profit'] = data['revenue'] - data['budget']

# доюавляем столбец 'month'
data['month'] = data['release_date'].dt.month

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [14]:
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [0]:
# название фильма с максимальным бюджетом
data['original_title'][data['budget'] == data['budget'].max()]

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [15]:
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [0]:
# название фильма с максимальной длительностью
data['original_title'][data['runtime'] == data['runtime'].max()]

# 3. Какой из фильмов самый короткий (в минутах)?

In [17]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [ ]:
# название фильма с минимальной длительностью
data['original_title'][data['runtime'] == data['runtime'].min()]

# 4. Какова средняя длительность фильмов?

In [18]:
answers['4'] = '4. 110'
# +

In [ ]:
# средяя длительность фильмов
data['runtime'].mean()

# 5. Каково медианное значение длительности фильмов?

In [19]:
answers['5'] = '5. 107'
# +

In [ ]:
# медианное значение длительности фильмов
data['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [21]:
answers['6'] = '6. Avatar (tt0499549)'
# +

In [ ]:
# название фильма с максимальной прибылью
data['original_title'][data['profit'] == data['profit'].max()]

# 7. Какой фильм самый убыточный?

In [22]:
answers['7'] = '7. The Lone Ranger (tt1210819)'
# +

In [ ]:
# название фильма с минимальной прибылью
data['original_title'][data['profit'] == data['profit'].min()]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '8. 1478'
# +

In [ ]:
# количество фильмов с прибылью больше нуля
len(data[data['profit'] > 0])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = '9. The Dark Knight (tt0468569)'
# +

In [ ]:
# название фильма с максимльной прибылью в 2008 году 
data['original_title'][data['profit'] == data['profit'][data['release_year'] == 2008].max()]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = '10. The Lone Ranger (tt1210819)'
# +

In [25]:
# название фильма с минимальной прибылью в 2012-2014 годах
data['original_title'][data['profit'] == data['profit'][(2012 <= data['release_year']) 
                                                        & (data['release_year'] <= 2014)].min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [29]:
answers['11'] = '11. Drama'
# +

In [ ]:
# считаем количество каждого жанра для Series, содеожащего згачения жанров датафрейма
df = data
d = pd.Series(df['genres'].str.cat(sep='|').split('|'))
d.value_counts()

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = '12. Drama'
# +

In [ ]:
# фильтр по прибылт больше 0
df = data[data['profit'] > 0]

# подсчет по жанрам
d = pd.Series(df['genres'].str.cat(sep='|').split('|'))
d.value_counts()

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
answers['13'] = '13. Peter Jackson'
# +

In [ ]:
# группируем датафрейм по директорам, суммируем значения и сортируем по сумме кассовых сборов
data.groupby(['director']).sum().sort_values(by = ['revenue'], ascending=False)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = '14. Robert Rodriguez'
# +

In [ ]:
# фильтр по жанрам, в присутствует есть жанр Action
df = data[data['genres'].str.contains('Action')]

# подсчет количества фиьмов для режиссеров
d = pd.Series(df['director'].str.cat(sep='|').split('|'))
d.value_counts()

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
answers['15'] = '15. Chris Hemsworth'
# +

In [33]:
# фильтр по 2012 году
df = data[data['release_year'] == 2012]

# подсчет кассовых сборов для каждого актера
d = pd.Series(df['cast'].str.cat(sep='|').split('|'))
d = d.value_counts(ascending=False)
for actor in d.index:
    d[actor] = df['revenue'][df['cast'].map(lambda x: True if actor in x else False)].sum()
d.sort_values(ascending=False)

Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Chris Evans        1519557910
Mark Ruffalo       1519557910
                      ...
Michael Nyqvist       3428048
Nicolas Cage          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Danny Huston          2106557
Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
answers['16'] = '16. Matt Damon'
# +

In [ ]:
# фильтр фильмов с бюджетом выше среднего
df = data[data['budget'] > data['budget'].mean()]

# подсчет по актерам
d = pd.Series(df['cast'].str.cat(sep='|').split('|'))
d.value_counts()

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = '17. Action'
# +

In [ ]:
# фильтр по актеру Nicolas Cage
df = data[data['cast'].str.contains('Nicolas Cage')]

# подсчет по жанрам
d = pd.Series(df['genres'].str.cat(sep='|').split('|'))
d.value_counts()

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'
# +

In [ ]:
# формируем датафрейм из фильмов, которые снимались Paramount Pictures и далее определяем фильм
new_data = data[data['production_companies'].str.contains('Paramount Pictures')]
new_data['original_title'][new_data['profit'] == new_data['profit'].min()]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [41]:
answers['19'] = '19. 2015'
# +

In [ ]:
# формируем новый датафрейм группировкой по годам суммируя значения 
# и сортируем по суммарным кассовым сборам
grouped_df = data.groupby(['release_year']).sum()
grouped_df.sort_values(by = ['revenue'], ascending=False)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [42]:
answers['20'] = '20. 2014'
# +

In [ ]:
# формируем новый датафрейм, где присутствует Warner Bros
# далее группируем о годам суммируя значения и сортируя по profit
new_data = data[data['production_companies'].str.contains('Warner Bros')]
new_data.groupby(['release_year']).sum().sort_values(by = ['profit'], ascending=False)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [43]:
answers['21'] = '21. Сентябрь'
# +

In [ ]:
# создаем новый датафрейм группировкай по месяцам с подсчетом значений
# далее сортируем по любому столбцу (в решении по imdb_id)
grouped_df = data.groupby(['month']).count()
grouped_df.sort_values(by = ['imdb_id'], ascending=False)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [44]:
answers['22'] = '22. 450'
# +

In [ ]:
# Количество фильмов за лето
len(data[(6 <= data['month']) & (data['month'] <= 8)])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = '23. Peter Jackson'
# +

In [ ]:
# фильтр по зимним месяцам
df = data[(data['month'] == 12) | (data['month'] <= 2)]

# полсчет количества фильмов
d = pd.Series(df['director'].str.cat(sep='|').split('|'))
d = d.value_counts(ascending=False)
d

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
answers['24'] = '24. Four By Two Productions'
# +

In [ ]:
# новый датафрейм, в котором в столбце 'original_title' указана длина названия
df = data
df['original_title'] = df['original_title'].astype(str).map(len)

# подсчет и сортировка фильмов по длине названия
d = pd.Series(df['production_companies'].str.cat(sep='|').split('|'))
d = d.value_counts(ascending=False)
for company in d.index:
    d[company] = df['original_title'][df['production_companies'].map(lambda x:True if company in x else False)].mean()
d.sort_values(ascending=False)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
answers['25'] = '25. Midnight Picture Show'
# +

In [ ]:
# Описание больше в том случае, если больше количество пробелов.
# (При условии, что нет двойных пробелов, например. Это, честно, не проверял.)
df = data
# удаляем в столбце Описание все символы, кр оме пробелов
df['overview'].replace(regex=True,inplace=True, to_replace = r'\S', value = '')

# заменяем в столбце Описание значения на количество пробелов
df['overview'] = df['overview'].astype(str).map(len)

# подсчет и сортировка фильмов по количеству пробелов
d = pd.Series(df['production_companies'].str.cat(sep='|').split('|'))
d = d.value_counts(ascending=False)
for company in d.index:
    d[company] = df['overview'][df['production_companies'].map(lambda x:True if company in x else False)].mean()
d.sort_values(ascending=False)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [ ]:
# минимальный рейтинг фильма, который входит в 10-ку самых лучших
df = data
m = df['vote_average'].sort_values(ascending=False).head(len(df)//100).min()

# фильтр по рейтину, полученому выше
df['original_title'][df['vote_average'] >= m]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint '
# +

In [ ]:
# честно, без куратора по Пайтону не решил бы
import itertools
from itertools import combinations
df = data
pairs = data.cast.apply(lambda x: combinations(x.split('|'), 2)).tolist()
pd.DataFrame(pairs).stack().value_counts()

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '27': '27. Daniel Radcliffe & Rupert Grint ',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave'}

In [59]:
# и убедиться что ни чего не пропустил)
len(answers)

27